div#container
{
   width: 980px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: "Roboto Light";
   font-size: 13px;
   margin: 0;
   text-align: center;
}
@font-face
{
   font-family: 'Roboto Light';
   src: url('../fonts/roboto-light.eot');
   src: url('../fonts/roboto-light.eot?iefix') format('embedded-opentype'),
        url('../fonts/roboto-light.ttf') format('truetype');
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
#page1PageHeader1
{
   background-color: #FAFAFA;
}
#page1Layer3
{
   background-color: transparent;
}
#page1Layer1
{
   background-color: transparent;
}
#page1Layer2
{
   background-color: transparent;
}
#wb_indexText3 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText3 div
{
   text-align: left;
}
#page1Shape1
{
   border-width: 0;
}
#wb_page1Text1 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_page1Text1 div
{
   text-align: left;
}
#page1Shape2
{
   border-width: 0;
}
#wb_page1Text2 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_page1Text2 div
{
   text-align: left;
}
#page1Shape4
{
   border-width: 0;
}
#wb_page1Text4 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_page1Text4 div
{
   text-align: left;
}
#wb_page1Text5 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_page1Text5 div
{
   text-align: left;
}
#page1Shape3
{
   border-width: 0;
}
#wb_page1Text6 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_page1Text6 div
{
   text-align: left;
}
#page1Shape6
{
   border-width: 0;
}
#wb_page1Text8 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_page1Text8 div
{
   text-align: left;
}
#indexShape7
{
   border-width: 0;
}
#wb_page1Text9 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_page1Text9 div
{
   text-align: center;
}
#indexShape8
{
   border-width: 0;
}
#page1Combobox1
{
   border: 1px #A9A9A9 solid;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
   background-color: #FFFFFF;
   color: #696969;
   font-family: 'Roboto Light';
   font-size: 16px;
}
#page1Combobox2
{
   border: 1px #A9A9A9 solid;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
   background-color: #FFFFFF;
   color: #696969;
   font-family: 'Roboto Light';
   font-size: 16px;
}
#page1Combobox3
{
   border: 1px #A9A9A9 solid;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
   background-color: #FFFFFF;
   color: #696969;
   font-family: 'Roboto Light';
   font-size: 16px;
}
#page1Combobox4
{
   border: 1px #A9A9A9 solid;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
   background-color: #FFFFFF;
   color: #696969;
   font-family: 'Roboto Light';
   font-size: 16px;
}
#page1Combobox5
{
   border: 1px #A9A9A9 solid;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
   background-color: #FFFFFF;
   color: #696969;
   font-family: 'Roboto Light';
   font-size: 16px;
}
#page1Editbox1
{
   border: 1px #A9A9A9 solid;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
   background-color: #FFFFFF;
   color :#696969;
   font-family: 'Roboto Light';
   font-size: 16px;
   text-align: left;
   vertical-align: middle;
}
#indexImage3
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#page1Shape8
{
   border-width: 0;
}
#indexImage1
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#page1Shape12
{
   border-width: 0;
}
#page1Combobox6
{
   border: 1px #A9A9A9 solid;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
   background-color: #FFFFFF;
   color: #696969;
   font-family: 'Roboto Light';
   font-size: 16px;
}
#page1Combobox7
{
   border: 1px #A9A9A9 solid;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
   background-color: #FFFFFF;
   color: #696969;
   font-family: 'Roboto Light';
   font-size: 16px;
}
#page1Editbox4
{
   border: 1px #A9A9A9 solid;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
   background-color: #FFFFFF;
   color :#696969;
   font-family: 'Roboto Light';
   font-size: 16px;
   text-align: left;
   vertical-align: middle;
}
#page1Editbox5
{
   border: 1px #A9A9A9 solid;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
   background-color: #FFFFFF;
   color :#696969;
   font-family: 'Roboto Light';
   font-size: 16px;
   text-align: left;
   vertical-align: middle;
}
#wb_page1Text11 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_page1Text11 div
{
   text-align: left;
}
#wb_page1Text12 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_page1Text12 div
{
   text-align: left;
}
#wb_page1Text13 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_page1Text13 div
{
   text-align: right;
}
#wb_page1Text14 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_page1Text14 div
{
   text-align: left;
}
#wb_page1Text15 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_page1Text15 div
{
   text-align: center;
}
#indexShape6
{
   border-width: 0;
}
#indexShape9
{
   border-width: 0;
}
#page1Shape13
{
   border-width: 0;
}
#page1Shape14
{
   border-width: 0;
}
#page1Shape15
{
   border-width: 0;
}
#wb_page1Text3 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_page1Text3 div
{
   text-align: left;
}
#wb_page1Text7 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_page1Text7 div
{
   text-align: left;
}
#indexCombobox7
{
   border: 1px #A9A9A9 solid;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
   background-color: #FFFFFF;
   color: #696969;
   font-family: 'Roboto Light';
   font-size: 15px;
}
#indexCombobox9
{
   border: 1px #A9A9A9 solid;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
   background-color: #FFFFFF;
   color: #696969;
   font-family: 'Roboto Light';
   font-size: 15px;
}
#indexShape1
{
   border-width: 0;
}
#wb_indexText2 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_indexText2 div
{
   text-align: center;
}
#indexShape10
{
   border-width: 0;
}

.clearfix:after
{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.car-container
{
    margin-bottom: 20px;
}

.car
{
    margin: 20px 4px;
}

.car .title
{
    color: #24C000;
    font-family: "Roboto Light";
    font-size: 21px;
    margin-bottom: 10px;
    text-decoration: none;
    display: block;
}

.car .title:hover
{
    text-decoration: underline
}

.car .content
{
    
}

.car .content .image
{
    width: 120px;
    display: inline-block;
    float: left;
}

.car .content .image img
{
    width: 120px;
    /*
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    */
}

.car .content .details
{
    display: inline-block;
    float: left;
    margin-left: 10px;
}

.car .content .details span, .car .content .details a
{
    display: block;
    margin-bottom: 3px;
    color: #696969;
    font-family: "Roboto Light";
    font-size: 15px;
}

.car .content .details span.distance
{
    color: #999;
    font-size: 14px;
}

.car .content .details a
{
    color: #006621;
    text-decoration: none;
    max-width: 840px;
}

#ajax-loader
{
    background-image: url('../images/ajax-loader.gif');
    background-position: center center;
    height: 20px;
    background-repeat: no-repeat;
    margin: 20px;
    margin-bottom: 40px;
    display: none;
}

.result-count
{
    display: block;
    margin-bottom: 3px;
    font-family: "Roboto Light";
    font-size: 16px;
    color: #999;
    margin-top: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 15px;
}

.pagination
{
    font-family: "Roboto Light";
    text-align: center;
    margin: 20px 0px;
    font-size: 16px;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 15px 0px;
    margin-bottom: 50px;
}

.pagination a
{
    color: #00F;
    text-decoration: none;
    margin: 0px 5px;
}

.pagination a:hover
{
    text-decoration: underline;
}

.pagination span
{
    margin: 0px 5px;
    font-weight: bold;
}